export("STEM_Model","STEM_Bootstrap","STEM_Simulation","STEM_Estimation","STEM_Kriging","SCSTEM_Bootstrap","SCSTEM_Estim","SCSTEM_Infocrit")
import("dplyr")
importFrom("MASS", "mvrnorm")
importFrom("mvtnorm","dmvnorm")
importFrom("stats","ts","dist","runif","end", "frequency", "is.ts", "na.omit", "pnorm", "quantile", "start", "var")
importFrom("SCDA", "SC_AMKM")
importFrom("spdep", "knn2nb","nb2mat","knearneigh")
importFrom("geodist", "geodist")
importFrom("sf", "st_as_sf")
